<% include ./partials/header.ejs %>
  <div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
    <div class="w-[25vw] h-[60vh] bg-white px-20 py-5 rounded-md">
      <h1 class="text-3xl tracking-tight text-center font-semibold capitalize text-zinc-700 leading-none">Welcome to
        Pinterest</h1>
      <form action="">
        <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="text" name="username"
          placeholder="Enter Your name">
        <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="password" name="password"
          placeholder="Enter Your password">
        <input class="border-2 rounded-md block mt-2 w-full px-3 py-2 bg-red-600 text-white rounded-md" type="submit">
        <a class="mt-2 font-semibold inline-block" href="#">Forgot password ?</a>
      </form>
    </div>
  </div>
  <% include ./partials/footer.ejs %>